# python -m pip install --upgrade pip
# pip install --upgrade -r requirements_39.txt
pandas
scipy
boto3
scikit-learn
tensorflow
tensorflow-datasets
tensorflow-recommenders
tensorflow-recommenders-addons
Jinja2
keras
ipykernel
ipywidgets
matplotlib
llama-index
